@using OnlineBookstore.Models
@model BookPreviewViewModel

<style>
    img {
        max-width: 100px;
        width: 100px;
        max-height : 200px;
        height: 200px;
    }



</style>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Url.Action("GetLocalImage", "Images", new { imageName = Model.Picture })" alt=""  />
        <div class="caption">
            
            
            <h4>
                <a href="#">@Model.Title</a>  
            </h4>
            <p><h4 class="text-right">@string.Format("{0:C2}", Model.Price) $</h4></p>
            <p>@Model.Description</p>
        </div>
        <div class="ratings">
            <p>
                @for (int i = 0; i < Model.Stars; i++)
                {
                    <span class="glyphicon glyphicon-star" style="color:red"></span>
                }
                @for (int i = 0; i < (5 - Model.Stars); i++)
                {
                    <span class="glyphicon glyphicon-star-empty" style="color:red"></span>
                }
                @Model.Stars stars
            </p>
        </div>
    </div>
</div>
 