@using OnlineBookstore.Models
@model BookDetailsViewModel

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/shop-homepage.css" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript">
        function orderBook(isbn) {
            var location = "http://localhost:12311/Market/OrderBook?isbn=" + isbn;
            window.location = location;
        }
    </script>
</head>
<body>
    <h2>Model.Genre -<font face="Time New Roman" size="5"> @Model.Title  </font></h2> <hr />&nbsp;

    <div class="container">
        @{ string frameSource = "https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&format=html&header_text=Goodreads+reviews&isbn=" + Model.Isbn + "&links=660&min_rating=0&num_reviews=5&review_back=ffffff&stars=ff0000&stylesheet=&text=444";}
            <div class="col-md-12">
                <div class="row" align="center">

                    <div class="thumbnail" align="center">

                        <!-- <img src="Url.Action(" GetLocalImage", new { imageName=Model.BestSellerOne.Picture}; alt="" )/> -->
                        <div class="caption-full" align="left">

                            <h4>Title of the Book</h4>
                            <font face="Time New Roman" size="3">@Model.Title</font>
                            <h4>Author</h4>
                            <p><font face="Time New Roman">@Model.Author</font></p>
                            <h4>Price</h4>
                            <p><font face="Time New Roman"> @string.Format("{0:C2}", Model.Price) € </font></p>
                            <h4>ISBN:</h4>
                            <p>
                                <font face="Time New Roman"> @Model.Isbn </font>
                            </p>
                            <h4>Descripton: </h4>
                            <p><font face="Time New Roman"> @Model.Description</font></p>
                            <br />
                            @for (int i = 0; i < Model.Stars; i++)
                            {
                                <span class="glyphicon glyphicon-star" style="color:red"></span>
                            }
                            @for (int i = 0; i < (5 - Model.Stars); i++)
                            {
                                <span class="glyphicon glyphicon-star-empty" style="color:red"></span>
                            }
                            @Model.Stars stars
</div>     
                        </div>
                    </div>

                <div class="row" align="center">
                    
                    <br />

                    <div class="form-group" align="right">
                        <div class="col-md-offset-2">
                            @if (Model.Quantity != 0)
                            {
                                <input type="button" class="btn btn-primary btn-lg" value="Add to cart" onclick="orderBook('@Model.Isbn')"/>
                            }

                            @if (Model.Quantity == 0)
                            {
                                <input type="button" class="btn btn-disabled btn-lg " value="Sold Out" />
                            }
                                <input type="button" class="btn btn-default btn-lg" value="Cancel" onclick="location='~/Market/MarketPage'" />
                            
                        </div>


                    </div>

                
                </div>

                <div class="row" align="center">

                    <p>

                        <style>
                            #goodreads-widget {
                                font-family: georgia, serif;
                                padding: 18px 0;
                                width: 1000px;
                            }

                                #goodreads-widget h1 {
                                    font-weight: normal;
                                    font-size: 16px;
                                    border-bottom: 1px solid #BBB596;
                                    margin-bottom: 0;
                                }

                                #goodreads-widget a {
                                    text-decoration: none;
                                    color: #660;
                                }

                            iframe {
                                background-color: #ffffff;
                            }

                            #goodreads-widget a:hover {
                                text-decoration: underline;
                            }

                            #goodreads-widget a:active {
                                color: #660;
                            }

                            #gr_footer {
                                width: 100%;
                                border-top: 1px solid #BBB596;
                                text-align: right;
                            }

                            #goodreads-widget .gr_branding {
                                color: #382110;
                                font-size: 11px;
                                text-decoration: none;
                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            }
                        </style>
                        <div id="goodreads-widget">
                            <div id="gr_header"><h1><a target="_blank" href="@Model.GoodreadsLink">Full reviews </a></h1></div>
                            <iframe id="the_iframe" src="@frameSource" width="1000" height="400" frameborder="0"></iframe>
                            <div id="gr_footer">
                                <a class="gr_branding" target="_blank"  href="@Model.GoodreadsLink">Reviews from Goodreads.com</a>
                            </div>
                        </div>
                    </p>
                </div>
                
      </div>
    </div>
</body>
</html>
