<div class="col-md-9">
    <div class="row"> @Html.ActionLink("Fiction", "MarketPageSortedByGenre", "Market", new { id = "Fiction" }) </div>
    <div class="row"> @Html.ActionLink("Biography", "MarketPageSortedByGenre", "Market", new { id = "Biography" }) </div>
    <div class="row">@Html.ActionLink("Business", "MarketPageSortedByGenre", "Market", new { id = "BUsiness" }) </div>
    <div class="row">@Html.ActionLink("Art", "Art", "MarketPageSortedByGenre", new { id = "Art" }) </div>
    <div class="row">@Html.ActionLink("Cookbooks", "Cookbooks", "Market", new { id = "Cookbooks" }) </div>
    <div class="row">@Html.ActionLink("Crime", "Crime", "Market", new { id = "Crime" }) </div>
    <div class="row">@Html.ActionLink("Nonfiction", "Nonfiction", "Market", new { id = "Nonfiction" }) </div>
    <div class="row">@Html.ActionLink("Contemporary", "Contemporary", "Market", new { id = "Contemporary" }) </div>
    <div class="row">@Html.ActionLink("Philosophy", "Philosophy", "Market", new { id = "Philosophy" }) </div>
    <div class="row">@Html.ActionLink("Poetry", "Poetry", "Market", new { id = "Poetry" }) </div>
</div>
