@using OnlineBookstore.Models
@model MarketPageViewModel

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/shop-homepage.css" rel="stylesheet">

@*<link href="\Scripts\materializecss\materialize\css" rel="stylesheet" />*@

@using Microsoft.AspNet.Identity


<html>
<body>
    <div class="container">
        <br /><br />
        <div class="row">
            <div class="col-md-12" align="center">
                <font face="verdana" size="4" color="#585858 "> Welcome to</font>
                <font face="verdana" size="5" color="#F80000  ">Read and Lead</font>
                <font face="verdana" size="4" color="#585858 "> bookstore!  </font>
                
            </div>

            @*<div class="col-md-12 pull-right" align="right">

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <font size="3">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</font>

                        <br />
                        
                    }
                }
                else { 
                <input type="button" class="btn btn-warning btn -lg" value="Sign in" onclick="location='/Account/Login'" />
                <input type="button" class="btn btn-default btn -lg" value="New here? Creat a account!" onclick="location='/Account/Register'" />
                }
                <br /><br /><br /><br />
            </div>*@

            @using (Html.BeginForm("MarketPage", "Market", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="col-md-3">
                    <font face="Verdana" size="5">Search Book</font> <hr />
                    <div class="row">
                        <div class="form-group" align="center">

                            <div class="form-group" align="center">
                                @Html.TextBox("filterText", "", new { @class = "form-control", @placeholder = "Filter books" })
                                Select options you want to search
                            </div>
                            <div class="form-group" align="center">
                                Title
                                @Html.RadioButtonFor(t => t.FilterBy, 1)
                                Author
                                @Html.RadioButtonFor(t => t.FilterBy, 2)
                                Genre
                                @Html.RadioButtonFor(t => t.FilterBy, 3)
                            </div>
                            <input type="submit" class="btn btn-default" value="Search" />

                        </div>

                    </div>
                </div>
            }

            <div class="col-md-9">
                    <div class="row carousel-holder">
                        <!-- Best seller -->
                        @if (Model.BestSellers.Any())
                        {
                            <div class="row">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        @foreach (var bestseller in Model.BestSellers)
                                        {
                                            <div class="item active">
                                                <img src="@Url.Action("GetLocalImage", "Images", new { imageName = bestseller.Picture})" alt="" / alt="" />
                                            </div>
                                        }
                                        @*<div class="item">
                                                <img src="@Url.Action("GetLocalImage", "Images", new { imageName = Model.BestSellerTwo.Picture})" alt="" />
                                            </div>
                                            <div class="item">
                                                <img src="@Url.Action("GetLocalImage", "Images", new { imageName = Model.BestSellerThree.Picture})" alt="" />
                                            </div>*@
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>

                            </div>
                        }                       

                    </div>

                    <!-- Book Market with many genre -->

                    @foreach (var genre in Model.BooksByGenres)
                    {
                        <div class="row carousel-holder">
                            <br /><br />
                            <font size="5"> <span style="color:black">@genre.Key</span></font><hr />
                            @foreach (var item in genre.Value)
                            {
                                @Html.Partial("_MarketBookThumnailPartial", item)
                            }
                        </div>
                    }
</div>
        </div>

    </div>


    <!-- /.container -->

    <div class="container">

        <hr>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
     
</body>

</html>