<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/shop-homepage.css" rel="stylesheet">
@using OnlineBookstore.Models
@model OrderPageViewModel

@{
    ViewBag.Title = "Order List";
    float price = 0;
}


<style>
    img {
        max-width: 80px;
        max-height: 160px;
    }
</style>


<html>
<body>

    <div class="container">

        <div class="row">
            <br />
            <div class="col-md-12" align="center" style="background-color:floralwhite">
                <br /><br />
                <font face="verdana" size="5" color="#585858 "> Welcome to</font>
                <font face="verdana" size="6" color="#F80000  ">Read and Lead</font>
                <font face="verdana" size="5" color="#585858 "> bookstore!  </font>
                <br /><br /><br />
            </div>


            <div class="col-md-12">
                <div class="table-responsive">
                    <div class="Title">
                        <h2 style="background-color:lemonchiffon">&nbsp;&nbsp;&nbsp;Order List</h2>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    Book Name
                                </td>
                                <td>
                                    Book Author
                                </td>
                                <td>
                                    Book Price
                                </td>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                price += item.Price;
                                <tr>
                                    <td>@item.Title<br /> @Html.ActionLink("Delete", "DeleteCartItem", "Market", new { id = item.Id }, "") </td>
                                    <td>@item.Author </td>
                                    <td>@item.Price  €</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" align="right">
                            <font size="5">Total Price  :</font>
                            <font size="5">
                                <b>@price € </b>
                            </font>
                            
                        
                    </div>
                    </div>


                <br /><br />


                <div class="row">
                    <h2 style="background-color:lemonchiffon">&nbsp;&nbsp;&nbsp;Shipping information</h2><hr />
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                           @Html.TextBoxFor(m => m.LastName , new { @class = "form-control" })
                           @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <br />
                    <br />

                    </div>

                 <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <input type="submit" class="btn btn-primary btn-lg" value="Order Now" onclick="location = 'OrderSuccess'"/>
            <div class="col-md-offset-2 col-md-3">
                <input type="button" class="btn btn-default btn-lg" value="Cancel" onclick="location='MarketPage'" />
            </div>
        </div>
    </div>

       </div>
         

    </div>



        </div>

</body>
</html>

